<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- The html based on https://github.com/line/line-liff-starter/blob/master/index.html -->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIFF Starter</title>
    <link rel="stylesheet" href="style.css">

    <script>
        <!--いまいち動いてんのかわからん-->
        $('#upload_chat_button').click(function(){
            $('#upload_chat').click();
            return false;
        });
    </script>

    <script>
        function selectChange()
        {

            var select1 = document.forms.report.type; //変数select1を宣言
            var select2 = document.forms.report.category; //変数select2を宣言

            select2.options.length = 0; // 選択肢の数がそれぞれに異なる場合、これが重要

            if (select1.options[select1.selectedIndex].value == "舗装")
            {
                select2.options[0] = new Option("道路に穴が空いています");
                select2.options[1] = new Option("道路が爆発しています");
                select2.options[2] = new Option("その他");
            }

            else if (select1.options[select1.selectedIndex].value == "除雪")
            {
                select2.options[0] = new Option("雪の山で見通しが悪いんだよね");
                select2.options[1] = new Option("歩道がもはや存在しない");
                select2.options[2] = new Option("除雪して（切実）");
                select2.options[3] = new Option("その他");
            }

            else if (select1.options[select1.selectedIndex].value == "その他")
            {
                select2.options[0] = new Option("お腹痛い");
                select2.options[1] = new Option("眠い");
            }

        }
    </script>

    <script>
        //LIFFで入力した値を送信時にLINEbotのチャットルームに送る
        function formsend()
        {
            var textmessage = "[報告番号]:" + document.getElementById("reportid").value
                                + "\n[種別]"
                                + document.getElementById("type").value
                                + "\n[内容]"
                                + document.getElementById("category").value
                                + "\n[詳細]"
                                + document.getElementById("detail").value;
        alert(textmessage);
        window.location.href = "pop.html";
        onsubmit;
        }
    </script>
    <script>
        function test() {
            window.location.href = "upload.html";
        }
    </script>
    <script>

        function getFilename() {
            var path = document.getElementById("file").value;
            var regex = /\\|\\/;
            var array = path.split(regex);
            var f_name = array[array.length - 1];
            //alert(f_name);
            document.getElementsByName("filename").value = f_name;
            alert(document.getElementsByName("filename").value);
            document.report.submit();
        }
    </script>
</head>

<body onload="selectChange()">

<h1>[[${test}]]</h1>
<form id="report" name="report" method="post" enctype="multipart/form-data" action="result.html">
    <table>
        <tr>
            <td>報告番号（自動取得）</td>
            <td><label id="reportid" name="number">報告番号</label></td>
        </tr>
        <tr>
            <td>
                <label for="type">報告種別(*)</label>
            </td>
            <td>
                <select id="type" name="type" onchange="selectChange()" required>
                    <option value="舗装">舗装</option>
                    <option value="除雪">除雪</option>
                    <option value="その他">その他</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="category">報告内容(*)</label>
            </td>
            <td>
                <select id="category" name="category" required>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                詳細記入(なんでもどうぞ)
            </td>
            <td>
                <textarea name="detail" form="report" placeholder="200字まで" maxlength="300" rows="5"></textarea>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <!--画像の選択ボタン-->
                <input type="file" id="file" name="file" accept="image/*">
                <script>
                    var obj1 = document.getElementById("file");

                    obj1.addEventListener("change", function(evt){
                        var file = evt.target.files;
                        alert(file[0].name + "を取得しました。");
                        document.report.filename.value = file[0].name;
                    },false);
                </script>
                <input type="hidden" name="filename" value="image">
            </td>
        </tr>
        <tr>
            <td>
                <a onclick="test()" >testupload</a>
                <input type="button" value="報告" onclick="getFilename()">
            </td>
        </tr>
    </table>
</form>

<script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
<script src="liff-starter.js"></script>
</body>
</html>